.class-body {
    background-color: #343a40; 
    fill-opacity: var(--purple);
    background-color: rgba(0,0,0,.19);
}

.class-card-footer .card-footer .text-muted {
    color:#6c757d!important;    
}

.class-list-actions {
    cursor: pointer;
}

.class-unit-actions {
    cursor: pointer;
}
.class-host-actions {
    cursor: pointer;
}
.class-form-control .form-control {
    align-items: stretch;
    display: flex !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    box-sizing: content-box;
    width: 100%;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: flex !important;
    height: auto;
    background-color: #343a40; 
    fill-opacity: var(--purple);
    background-color: rgba(0,0,0,.03);
}
/* inserir d-flex para uso, mesmo com todos os atributos copiados*/
.class-list-card-body .card-body {
    align-items: stretch;
    display: flex !important;
    word-wrap: break-word;
    justify-content: space-between;
    box-sizing: border-box;
    word-wrap: break-word;
    box-sizing: border-box;
}

.class-unit-card-body .card-body {
    align-items: stretch;
    display: flex !important;
    word-wrap: break-word;
    justify-content: space-between;
    box-sizing: border-box;
    word-wrap: break-word;
    box-sizing: border-box;
}

.class-card .card {
    align-items: stretch;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.class-card-header .class-card-header {
    align-items: stretch;
    color: #212529;
    text-align: center;
    word-wrap: break-word;
}
