{% extends "layout-bs4.njk" %}

{% set title = "template debugging" %}

{% block content %}

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h1 <i class="fa fa-align-center" aria-hidden="true"></i>>VAGOAMIN - Vara de Goiabeira no meio ambientalmente incorreto</h1>
            <div class="row">
                <span id='current-user'>Bem-vindo: <text id="user-lbl"></text>
                </span>
            </div>
            <div class="row">
                <span>
                    <div class="form-group">
                        <label for="user-css">Escolha seu tema</label>
                        <select class="class-form-control" name="user-css" id="user-css">
                            <option>claro</option>
                            <option>escuro</option>
                        </select>
                    </div>
                </span>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-3">
                    <div class="class-card">
                        <div class="class-card-header d-flex">
                            <span>
                    Unidades
                    </span>
                            <span class="class-list-actions float-right m-0">
                                <i class="far fa-trash-alt"
                            onclick="dlgDeleteUnit()"
                            data-toggle="modal"
                            data-target="#deleteFoodModal"></i>
                                <i class="fas fa-pencil-alt"
                            onclick="dlgUpdateUnit()"
                            data-toggle="modal"
                            data-target="#formUnitModal"></i>
                                <i class="fas fa-plus"
                            id="createUnitBtn"
                            data-toggle="modal"
                            data-target="#formUnitModal"
                            onclick="dlgEditNewUnit()"></i>
                            </span>
                        </div>
                        <div class="class-list-card-body d-flex">
                            <select
                            multiple
                            {# BUG - nem a pau apenas class-form-control d-flex deu certo #}
                            class="form-control d-flex"
                            name="unitList"
                            id="unitList"
                        >
                                {% for unit in units %}
                                    <option unit-id="{{unit.id}}" unit-adm-login="{{unit.login}}">{{unit.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="class-card-footer text-muted" id="lblAdmUserLogin">Adm. por:</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="class-card">
                        <div class="class-card-header d-flex">Computadores
                                            </span>
                        <span class="class-list-actions float-right m-0">
                            <i class="fas fa-power-off"
                            id="powerHostBtn"
                            data-toggle="modal"
                            data-target="#formPowerModal"
                            onclick="dlgPowerHost()"></i>
                            <i class="fas fa-trash-alt"
                            onclick="dlgDeleteHost()"
                            data-toggle="modal"
                            data-target="#deleteHostModal"></i>
                            <i class="fas fa-pencil-alt"
                            onclick="dlgUpdateHost()"
                            data-toggle="modal"
                            data-target="#formHostModal"></i>
                            <i class="fas fa-plus"
                            id="createUnitBtn"
                            data-toggle="modal"
                            data-target="#formHostModal"
                            onclick="dlgEditNewHost()"></i>
                        </span>
                    </div>
                    <div class="class-list-card-body d-flex"></div>
                    <select                             multiple
                            {# BUG - nem a pau apenas class-form-control d-flex deu certo #}
                            class="form-control d-flex"
                            name="hostList"
                            id="hostList"
                ></select>
                    <div class="class-card-footer text-muted">Total: 0/0</div>
                </div>
            </div>
            <div class="col-5">
                <div class="class-card">
                    <div class="class-card-header d-flex">
                        Habilitados
                        <span class="class-list-actions float-right m-0">
                            <i class="fas fa-power-off"
                            id="createUnitBtn"
                            data-toggle="modal"
                            data-target="#formUnitModal"
                            onclick="dlgEditNewUnit()"></i>
                            <i class="fas fa-ban"
                            onclick="dlgUpdateUnit()"
                            data-toggle="modal"
                            data-target="#formUnitModal"></i>
                        </span>
                    </div>
                    <div class="class-list-card-body d-flex" >
                        <select                             multiple
                            {# BUG - nem a pau apenas class-form-control d-flex deu certo #}
                            class="form-control d-flex"
                            name="hostEnableList"
                            id="hostEnableList"
                ></select>
                    </div>
                    <div class="class-card-footer text-muted">Total: 0/0</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {# margem direita #}
        </div>
    </div>
    <div class="row" >
        {# separador depuração #}
        <br><br><br><br><br><br><br>
    </div>

    <form id="formUnit">
        <div class="modal fade" id="formUnitModal" tabindex="-1" aria-labelledby="formUnitLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formUnitLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="unit-name">Nome da unidade</label>
                            <input type="text" class="form-control" id="unit-name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="unit-admId">Administrada por:</label>
                            <select class="form-control" id="unit-admId" name="admId">
                                <option>null</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="unit-max_on">Estações liberadas:</label>
                            <select class="form-control" id="unit-max_on" name="max_on">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="formHost">
        <div class="modal fade" id="formHostModal" tabindex="-1" aria-labelledby="formHostLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formHostLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="host-name">Nome do host</label>
                            <input type="text" class="form-control" id="host-name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="host-ipv4">IPV4:</label>
                            <select class="form-control" id="host-ipv4" name="ipv4">
                                <option>null</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="host-ipv4">MAC:</label>
                            <select class="form-control" id="host-mac" name="mac">
                                <option>null</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<script type="module" src="/js/main.js"></script>

{% endblock %}