{% extends "layout-bs4.njk" %}

{% set title = "template debbuging" %}

{% block content %}

    <h1>VAGOAMIN</h1>
    <div class="row">
        <div class="col-3">
            <div class="class-card">
                <div class="class-card-header d-flex">
                    <span>
                    Unidades
                    </span>
                    <span class="class-unit-actions float-right">
                        <i class="far fa-trash-alt"
                            onclick="dlgDeleteUnit()"
                            data-toggle="modal"
                            data-target="#deleteFoodModal"></i>
                        <i class="fas fa-pencil-alt"
                            onclick="loadFormUpdateFood(${food.id}, '${food.name}', '${food.image}', '${food.price}', '${food.category}')"
                            data-toggle="modal"
                            data-target="#formFoodModal"></i>
                    </span>
                </div>
                <div class="class-unit-card-body d-flex">
                    <select
                            multiple
                            {# BUG - nem a pau apenas class-form-control d-flex deu certo #}
                            class="form-control d-flex"
                            name="unitList"
                            id="unitList"
                        >
                        {% for unit in units %}
                            <option>{{unit.id}} - {{unit.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="class-card-footer text-muted d-flex">Adm. por:</div>
            </div>
        </div>
        <div class="col-4">
            <div class="class-card">
                <div class="class-card-header d-flex">Computadores</div>
                <div class="class-card-body d-flex"></div>
                <select                             multiple
                            {# BUG - nem a pau apenas class-form-control d-flex deu certo #}
                            class="form-control d-flex"
                            name="hostList"
                            id="hostList"
                ></select>
                <div class="card-footer text-muted">Total: 0/0</div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">Habilitados</div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
                <div class="card-footer text-muted">Total: 0/0</div>
            </div>
        </div>

        <form id="formFood">
            <div class="modal fade" id="formFoodModal" tabindex="-1" aria-labelledby="formFoodLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formFoodLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="food-name">Nome</label>
                                <input type="text" class="form-control" id="food-name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="food-image">Image</label>
                                <input type="text" class="form-control" id="food-image" name="image">
                            </div>
                            <div class="form-group">
                                <label for="food-price">Preço</label>
                                <input type="text" class="form-control" id="food-price" name="price">
                            </div>
                            <div class="form-group">
                                <label for="food-category">Categoria</label>
                                <select class="form-control" id="food-category" name="category_id"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <script type="module">
        //!serviços rest
        import clientapi from './js/rest/clientapi.js';
        var globalUnitID = -1;

        //script para eventos

        async function dlgDeleteUnit() {
            if (globalUnitID >= 0) {
                if (confirm(`Confirma a remoção da unidade(${globalUnitID})?`)) {
                    console.log('Thing was not saved to the database.');
                    const ret = await clientapi.destroy(`/units/${globalUnitID}`);
                    unitList
                        .options[unitList.selectedIndex]
                        .remove();
                    globalUnitID = -1
                }
            } else {
                alert('Selecione a unidade para realizar a operação');
            }
        }

        const unitList = document.querySelector('#unitList');

        unitList.addEventListener("change", (event) => {
            //talvez seja necessario adiantar a alteração do item selecionado
            //1 - remove do atual $(".list-group .list-group-item").removeClass("active");
            //2  passa para o novo $(e.target).addClass("active");
            const key = event
                .target
                .value
                .split(' - ')[0];
            if (key) {
                globalUnitID = key;
                loadHostList(key);
            } else {
                globalUnitID = -1;
                alert('Chave inválida');
            }
        });

        function insertHostItem(ctl, host) {
            const hostItem = `<option>${host.id} - ${host.name}</option>`;
            ctl.insertAdjacentHTML('beforeend', hostItem);
        }

        async function loadHostList(key) {
            const hlist = document.getElementById('hostList');
            hlist.innerHTML = '';
            //todo validar agora
            const hosts = await clientapi.read(`/hosts/unit/${key}`);
            for (const host of hosts) {
                insertHostItem(hlist, host);
            }
        }

        window.dlgDeleteUnit = dlgDeleteUnit;
    </script>
{% endblock %}